.basket_section_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	color: #000000;
	border-top: 1px solid rgba(0,0,0,.2);
	padding: 30px 0;
}
.section-basket.section-products {
	padding-top: 30px;
	padding-bottom: 0;
}

@media (min-width: 560px)
{
	.section-basket .product-item-image {
		display: block;
		width: 151px;
		height: 151px;
	}
	.section-basket .bx_catalog_item_controls {
		margin-right: 7px;
	}
	.section-basket .bx_catalog_item_scu {	
		margin-top: 0;
	}
	.section-basket .item_right_part {
		margin-left: 15px;
		width: 185px;
		height: 151px;
		position: relative;
	}
	.section-basket .bx_catalog_item_scu .product-option-variants {
		width: 85px;
	}
	
	.section-basket .bx_catalog_item_controls .btn {
		padding: 0 15px;
		height: 40px;
		line-height: 40px;
	}
	.section-basket .product-option-select {
		width: 100%!important;
		font-size: 14px;
	}
	.section-basket .product-item {		
		display: flex;
		align-items: flex-end;
	}
	.section-basket .product-item-name {
		font-size: 14px;	
		line-height: 16px;
		margin-top: 0;
	}
	.section-basket .product-option-variants {
		margin-bottom: 0;
	}
	.section-basket .btns_block {
		display: flex;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
	}
	.section-basket .product-item-price {
		margin-bottom: 10px;
	}
	.section-basket .product-option-note {
		font-size: 13px;
	}
}
@media (max-width: 330px)
{
	.section-basket .product-option-note {
		font-size: 13px;
	}
	.section-basket .bx_catalog_item_scu .product-option-variants {
		width: 85px;
	}
	.section-basket .bx_catalog_item_controls .btn {
		padding: 0 15px;
		height: 40px;
		line-height: 40px;
	}
}

.basket_corusel {
	width: calc(100% - 50px);
    margin: 0 auto;	
}
.basket_corusel .slick-arrow {
	width:14px;
	cursor:pointer;
	position:absolute;
	top:calc(50% - 50px);
	z-index:3;
}
.basket_corusel .arrow-left {
	transform:rotate(180deg);
	left:-25px;
}
.basket_corusel .arrow-right {
	right:-25px;
}
.basket_corusel .slick-arrow polyline {
	transition: stroke ease-in-out .2s;
}
.basket_corusel .slick-arrow:hover polyline {
	stroke: #bd1725 !important;
}
