/* COMMON */
:focus {
	outline-style: none;
	outline-width: 0px !important;
	outline-color: none !important;
}
body {
	font-family:'Roboto',Arial,sans-serif;
	color:#010101;
	font-weight:300;
}
img {
	max-width:100%;
}
b, strong {
	font-weight:700;
}
ol, ul {
	padding-left: 20px;
}
a, a:hover {
	color:#bd1725;
}
.hidden {
	overflow:hidden;
}
.list-simple {
	margin:0;
	padding:0;
	list-style:none;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}
.text-upper {
	text-transform:uppercase;
}
.w-100 {
	width:100% !important;
}
.t-title {
	font-size: 48px;
	line-height: 1.23;
	font-weight:600;
	color:#fff;
}
.btn {
	display:inline-block;
	text-decoration:none;
	color:#fff;
	height:45px;
	line-height:45px;
	padding:0 30px;
	cursor:pointer;
	text-align:center;
	transition:background-color 0.2s ease-in-out;
	background:#bd1725;
	font-weight:400;
	font-size:14px;
	border:0;
	width:fit-content;
	width:-moz-fit-content;
}
.btn:hover {
	background:#6b0504;
	text-decoration:none;
	color:#fff;
}
.btn-green {
	background:#47a025;
}
.btn-green:hover {
	background:#42ba17;
}
.btn-big {
	height:54px;
	line-height:54px;
	padding:0 60px;
	font-size:16px;
}
.btn[disabled], .btn[disabled]:hover {
	background:#999;
	cursor:default;
}
.fs-24 {
	font-size:24px;
}
h1, .h1, h2, .h2 {
	font-size: 40px;
	line-height: 1.23;
	font-weight:600;
	color:#252525;
	margin-bottom:40px;
}
h1, .h1 {
	font-size: 40px;
}
h2, .h2 {
	font-size: 24px;
	text-transform:uppercase;
}
p + h2, p + .h2 {
	margin-top:40px;
}
form .input {
	margin-bottom:25px;
	width:100%;
	height:60px;
	border:0;
	border-bottom:1px solid #dfdfdf;
}
form .input-error {
	border:1px solid #f00 !important;
	padding-left:10px;
}

/* HEADER */
.top-line {
	background:#BD1725;
	color:#fff;
	font-weight:400;
}
.nav-top li {
	float:left;
}
.nav-top li a {
	color:inherit;
	line-height:40px;
	padding:0 15px;
	display:block;
	transition:background-color 0.2s ease-in-out;
	
}
.nav-top li a:hover, .nav-top li a.active {
	background:#750b13;
	text-decoration:none;
}

.top-address {
	line-height:40px;
	background:url(../i/addr-point.png) 0 center no-repeat;
	background-size:20px;
	padding-left:30px;
	display:inline-block;
}

.head {
	padding-top:10px;
	padding-bottom:10px;
	font-weight:400;
}
.head .logo {
	max-width:160px;
	display:block;
}
.head .worktime {
	color:#252525;
	background:url(../i/clock.png) 0 center no-repeat;
	background-size:20px;
	padding-left:30px;
}
.head .phone {
	color: #252525;
	font-size: 27px;
	font-weight: 600;
	line-height:1.2;
}
.head .link-callback {
	color: #47a025;
	border-bottom:1px dashed;
}
.head .link-callback:hover {
	text-decoration:none;
	border-bottom-color:transparent;
}
.nav-holder {
	background:#f8f8f8;
	position:relative;
}
.nav-holder:before {
	content:'';
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:1px;
	box-shadow: 0px 1px 9px 0px rgba(37,37,37,0.5);
}
.nav-main {
	
}
.nav-main > li {
	float:left;
	position:relative;
}
.nav-main > li > a {
	color: #bd1725;
	font-weight: 400;
	line-height:40px;
	display:block;
	padding:0 16px;
	text-transform:uppercase;
	transition: background-color 0.2s ease-in-out;
}
.nav-main > li > a:hover, .nav-main > li > a.active {
	background:#ebebeb;
	text-decoration:none;
}
.nav-main li:hover .sub-nav {
	display:block;
}
.nav-main .sub-nav {
	position:absolute;
	top:calc(100% + 17px);
	left:50%;
	background:#fff;
	white-space:nowrap;
	border-radius: 3px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20);
	padding: 18px 20px 6px;
	transform:translateX(-50%);
	z-index:12;
	display:none;
	min-width:135px;
}
.nav-main .sub-nav:after {
	content: '';
	position: absolute;
	width: 0;
	top:-20px;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	right: 50%;
	transform: translateX(50%);
	border-bottom-color:#fff;
}
.nav-main .sub-nav:before {
	content: '';
	position: absolute;
	width: 100%;
	height:17px;
	left:0;
	top:-17px;
}
.nav-main .sub-nav li a {
	color: #bd1725;
	font-weight: 400;
	line-height: 1.35;
	display:block;
	margin-bottom:12px;
	transition:color 0.2s ease-in-out;
}
.nav-main .sub-nav li a:hover, .nav-main .sub-nav li a.active {
	color: #f16a21;
	text-decoration:none;
}

.head-search {
	display:block;
	width:60px;
	height:40px;
	text-decoration:none;
	float:right;
	transition:background-color 0.2s ease-in-out;
	background:#bd1725 url(../i/search.png) center no-repeat;
	background-size:20px;
}
.head-search:hover {
	background-color:#870d17;
}

.header-basket {
	display: none;
	position: fixed;
	top: 100px;
	right: 50px;
	z-index: 99;
	background-color: rgba(255,255,255,.8);
	border-radius: 50px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	transition: transform 0.2s ease-in-out;
	text-align:center;
}
.header-basket._showed {
	display:block;
}
.header-basket svg {
	width: 40px;
	height: 40px;
	margin-top:18px;
	stroke:#bd1725;
}
.header-basket .basket-count {
	width: 30px;
	height: 30px;
	background-color: #47a025;
	color: #fff;
	border-radius: 30px;
	position: absolute;
	right: -3px;
	bottom: -3px;
	text-align: center;
	line-height: 30px;
	font-weight:400;
}
.header-basket .basket-price {
	position: absolute;
	-webkit-transform: translateX(0%) translateY(-50%);
	transform: translateX(0%) translateY(-50%);
	top: 50%;
	right: 130%;
	white-space: nowrap;
	background: #292929;
	color: #fff;
	font-size: 15px;
	font-weight:600;
	box-sizing: border-box;
	padding: 9px 13px;
	border-radius: 3px;
	transition: opacity 0.3s linear;
	opacity: 0;
}
.header-basket .basket-price:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	border-left-color: #292929;
}
.header-basket:hover .basket-price {
	opacity:1;
}

.menu-toggle {
	position: fixed;
	right: 15px;
	top:15px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 99;
	transition: opacity ease-in-out .2s;
	background-color: #f8f8f8;
	opacity: 0.50;
	padding:17px 12px 0;
}
.menu-toggle span {
	display:block;
	width:100%;
	height:2px;
	background:#bd1725;
	margin-bottom:4px;
}
.menu-overlay {
	position: fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background:rgba(37,37,37,0.6);
	z-index: 990;
	display:none;
}
.menu-overlay._opened {
	display:block;
}
.menu-mobile {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 360px;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	transition: transform ease-in-out 0.3s;
	transform: translate(100%,0);
	background-color: #fff;
	padding:35px 25px 25px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu-mobile._opened {
	transform:translate(0,0);
}

.menu-mobile-close {
	width: 24px;
	height: 20px;
	position: absolute;
	top: 16px;
	right: 10px;
	cursor: pointer;
	z-index: 3;
}
.menu-mobile-close i {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	top:8px;
	height:2px;
	background:#252525;
}
.menu-mobile-close i:nth-child(1){
	transform: rotate(45deg);
}
.menu-mobile-close i:nth-child(2){
	transform: rotate(-45deg);
}
.menu-mobile-logo {
	max-width:120px;
	display:block;
	margin-bottom:22px;
}
.menu-mobile-phone {
	font-size:22px;
	font-weight:700;
	margin-bottom:20px;
}
.menu-mobile ul a {
	color:#252525;
	font-size:18px;
	display:block;
	margin-bottom:10px;
	font-weight:400;
}

.t-cover {
	height:360px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	position:relative;
}
.t-cover-sm {
	height:180px !important;
}
.t-cover:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
}
.t-cover-container {
	height: 100%;
	position:relative;
}
.t-cover-text {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.t-cover h1 {
	color:#fff;
	margin-bottom:0;
	text-transform:uppercase;
}
.breadcrumbs {
	padding:30px 0;
	color:#bd1725;
	margin-bottom:30px;
} 
.breadcrumbs li {
	display:inline-block;
	padding-right:5px;
}
.breadcrumbs a {
	color:#696969;
	text-decoration:none;
	transition:color 0.3s ease-in-out;
	padding-right:5px;
}
.breadcrumbs a:hover {
	color:#bd1725;
	text-decoration:none;
}
.g-map {
	height:380px;
	margin-top:60px;
}


/* MAIN PAGE */
.main-slider {
	
}
.main-slider .slick-slide {
	height:540px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.main-slider .slick-slide:hover {
	text-decoration:none;
}
.main-slider .slick-slide:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:-1;
}

.main-slider .slick-arrow {
	width:23px;
	cursor:pointer;
	position:absolute;
	top:calc(50% - 20px);
	z-index:3;
}
.main-slider .arrow-left {
	transform:rotate(180deg);
	left:30px;
}
.main-slider .arrow-right {
	right:30px;
}
.main-slider .slick-arrow polyline {
	transition: stroke ease-in-out .2s;
}
.main-slider .slick-arrow:hover polyline {
	stroke: #fce181 !important;
}
.slide-container {
	height:100%;
}
.slide-text {
	padding: 60px 0;
	max-width: 760px;
	color: #fff;
	font-size: 20px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.slide-preview-text {
	margin-bottom:15px;
}
.slide-text .t-title {
	margin-bottom:30px;
}
.slide-text ul {
	padding-left:20px;
}

.product-list-text {
	font-size:24px;
	text-align:center;
	margin-bottom:45px;
}
.section-products {
	padding-top:60px;
	padding-bottom:30px;
}
.section-popular {
}
.section-new {
	background-color:#f8f8f8;
}
.section-actions {
}
.section-how {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #f8f8f8;
}
.section-how .section-title {
	text-transform:uppercase;
	margin-bottom:100px;
}

.how-item {
	text-align:center;
	position:relative;
}
.how-item-dots {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	top: 48px;
	left: 0px;
	width: 100%;
	max-width:256px;
	transform: translate(-50%,-50%);
}
.how-item-dots i {
	width: 4px;
	height: 4px;
	border-radius: 30px;
	background-color:#bd1725;
}
.how-item img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid rgb(189, 23, 37);
	position:relative;
	z-index:1;
}
.how-item-name {
	margin-top:25px;
	font-size:18px;
	font-weight:600;
	color:#252525;
	line-height:1.35;
}
.how-item-text {
	margin-top:15px;
	color:#696969;
}

.section-benefits {
	padding-top:90px;
	padding-bottom:50px;
}
.section-benefits .section-text {
	max-width:560px;
	text-align:center;
	font-size:22px;
	margin:0 auto 90px;
}
.benefit-item {
	position:relative;
	margin-bottom:40px;
	padding-left:50px;
}
.benefit-item:before {
	position:absolute;
	content:'';
	top:0;
	left:0;
	width:30px;
	height:30px;
	background:url(../i/checkmark.svg) no-repeat;
}
.benefit-item-name {
	font-size: 18px;
	line-height: 1.35;
	text-transform:uppercase;
	margin-bottom:14px;
	font-weight:600;
}
.benefit-item-text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.section-bottom {
	padding-top:80px;
	padding-bottom:40px;
}
.section-bottom .section-title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom:30px;
}
.section-bottom .section-text {
	font-weight: 400;
	padding-right:30px;
}
.section-bottom .line {
	height:4px;
	background:#f16a21;
	position:relative;
	top:-50px;
	z-index:-1;
}
.section-bottom .line:before {
	content:'';
	position:absolute;
	top:-150px;
	left:-50px;
	width:210px;
	height:275px;
	background:url(../i/sprig.png) center no-repeat;
	background-size:100%;
	transform:rotate(302deg);
}

/* */
.serts-slider{
	padding:0 25px;
}
.serts-slider .slick-slide {
	margin:0 10px;
}
.serts-slider .slick-arrow {
	width:23px;
	cursor:pointer;
	position:absolute;
	top:calc(50% - 20px);
	z-index:3;
}
.serts-slider .arrow-left {
	transform:rotate(180deg);
	left:0px;
}
.serts-slider .arrow-right {
	right:0px;
}

.serts-slider .slick-arrow polyline {
	transition: stroke ease-in-out .2s;
}
.serts-slider .slick-arrow:hover polyline {
	stroke: #fce181 !important;
}

/* ACTIONS */
.action-item {
	margin-bottom:40px;
}
.action-item-name {
	display:block;
	margin-top:10px;
	font-size:16px;
	font-weight:400;
	text-transform:uppercase;
}
.actions-detail {
	margin-bottom:30px;
}


/* CATALOG */

.t-title-cat {
	color:#252525;
	font-size:40px;
	text-transform:uppercase;
	margin-bottom:50px;
}

.category-item {
	display:block;
	height:270px;
	overflow:hidden;
	margin:20px 0;
	position:relative;
}
.category-item-cover {
	position:relative;
	height:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	transition:all ease-in-out .25s;
}
.category-item-cover:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	transition:all ease-in-out .25s;
}
.category-item-cover:hover{
	transform: scale(1.05);
}
.category-item-cover:hover:before {
	background:rgba(0,0,0,0.6);
}
.category-item-title {
	color:#fff;
	text-transform:uppercase;
	font-size:22px;
	font-weight:600;
	line-height:1.23;
	position:absolute;
	bottom:30%;
	left:40px;
}

.catalog-order-note {
	text-align:center;
	font-size:25px;
	margin-bottom:60px;
}
.catalog-text-top {
	font-size:25px;
	font-weight:400;
	margin-bottom:50px;
}
.catalog-text-bottom {
	font-size:18px;
	margin-top:30px;
}

.product-item {
	margin-bottom:80px;
}
.product-item-img-wrap {
	position:relative;
}
.product-item-name {
	display:block;
	color: #000;
	font-size: 20px;
	font-weight: 500;
	line-height:1.35;
	margin-top:20px;
	height:50px;
}
.product-item-name:hover {
	color:#252525;
	text-decoration:none;
}
.product-item-text {
	color:#696969;
	height:48px;
	margin:5px 0;
	overflow:hidden;
}
.product-item-price {
	font-size: 20px;
	font-weight: 400;
	margin-bottom:20px;
}
.product-item-price-old {
	color:#bd1725;
	text-decoration:line-through;
	margin-left:5px;
}
.bx_catalog_item_scu {
	float:right;
	margin-top:-10px;
	/* position:relative; */
}
/* .bx_catalog_item_scu .product-option-note {
	position:absolute;
	left:0;
	top:-20px;
} */
.bx_catalog_item_scu .product-option-variants {
	width:120px;
}
.bx_catalog_item_controls {
	float:left;
}
.product-card-img {
	margin-bottom:20px;
}
.product-card-note {
	font-size:14px;
	color:#777;
}
.product-card-delivery-note {
	background:url(../i/delivery-icon.png) 0 center no-repeat;
	background-size:contain;
	min-height:26px;
	padding-left:60px;
	font-size:14px;
	color:#777;
	margin-bottom:20px;
}
.product-card-price {
	font-size:18px;
	font-weight:400;
	margin-bottom:15px;
}
.product-option-note {
	margin-bottom:5px;
	font-size:14px;
	color:#696969;
}
.product-option-variants {
	position:relative;
	width:160px;
	margin-bottom:20px;
}
.product-option-variants:after {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	pointer-events: none;
}
.product-option-select {
	width: 100%;
	border: 1px #ddd solid;
	background: #f8f8f8;
	cursor:pointer;
	padding: 2px 30px 2px 10px;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
}
.product-card-text {
	margin-top:30px;
}
.product-item-label-discount {
	position:absolute;
	right:0;
	bottom:0;
	background:#bd1725;
	color:#fff;
	border-radius:50%;
	text-decoration:none;
	height: 45px;
	width: 45px;
	font-size: 14px;
	font-weight:bold;
	text-align: center;
	line-height: 45px;
}
.product-item-label-gift {
	position:absolute;
	left:0;
	top:0;
	background:#bd1725;
	color:#fff;
	text-decoration:none;
	padding:3px 10px;
}
.sticker_availability {
	position:absolute;
	right:10px;
	top:10px;
	z-index:5;
	color:#fff;
	background:#f16a21;
	font-size: 12px;
	width:88px;
	text-align:center;
	border-radius:50px;
	box-sizing:border-box;
	padding:7px 10px;
}

.popup-window-titlebar {
	text-align:center;
}
.popup-window-titlebar-text {
	padding:0;
	color:#010101;
}
.popup-window-with-titlebar .popup-window-content {
	padding:10px;
}
.popup-product-name {
	margin-top:10px;
	font-size:18px;
}
.popup-window-buttons {
	padding:10px 0 0;
}
.popup-window-buttons .btn {
	margin:0 5px 10px;
}
.bx-pagination .bx-pagination-container ul li span {
	background:#ddd;
}
.bx-pagination .bx-pagination-container ul li a:hover span {
	background:#ccc;
}
.bx-pagination .bx-pagination-container ul li.bx-active span {
	background:#bd1725;
}

/* BASKET */
.basket-gift-note {
	margin-bottom:20px;
	font-size:18px;
	color:#42ba17;
	font-weight:bold;
}
.basket-gift-note svg {
	width:40px;
	height:40px;
	fill:#42ba17;
	margin-right:10px;
}
.basket-table {
	width:100%;
	border-top:1px solid rgba(0,0,0,.2);
	border-bottom:1px solid rgba(0,0,0,.2);
}
.basket-table td {
	vertical-align:middle;
	padding:20px;
}
.basket-table tr td:first-child {
	padding-left:0;
}
.basket-table tr td:last-child {
	padding-right:0;
}
.b-product-img {
	max-width:150px;
}
.b-product-title {
	display:block;
	color:inherit;
	margin-bottom:10px;
	font-weight:600;
}
.b-product-title:hover {
	color:#bd1725;
	text-decoration:none;
}
.b-product-quantity {
	white-space:nowrap;
}
.b-product-minus, .b-product-plus {
	cursor:pointer;
	display:inline-block;
	width:20px;
	height:20px;
	background-size:100%;
	background-repeat:no-repeat;
	vertical-align:middle;
}
.b-product-minus {
	background-image:url(../i/arrows_circle_minus.svg);
}
.b-product-plus {
	background-image:url(../i/arrows_circle_plus.svg);
}
.b-product-qty {
	padding:0 5px;
	vertical-align:middle;
	border:0;
	text-align:center;
	width:38px;
}
.b-product-cost {
	white-space:nowrap;
	font-size:18px;
	text-align:center;
}
.basket-item-price-old {
	text-decoration:line-through;
}
.basket-label-gift {
	background: #bd1725;
	color: #fff;
	padding: 3px 15px;
	margin-bottom:5px;
	display:inline-block;
}
.b-product-remove {
	cursor:pointer;
	display:inline-block;
	width:30px;
	height:30px;
	background:url(../i/remove.svg) no-repeat;
	background-size:100%;
}
.basket-info {
	margin-top:30px;
	margin-bottom:30px;
}
.basket-total {
	margin-top:5px;
	font-weight:600;
	font-size:18px;
}

.basket-coupon-section {
	float:left;
}
.basket-coupon-block-field-description {
	margin-bottom:6px;
}
.basket-coupon-section .form-control {
	border: 1px solid #888;
	padding: 3px 6px;
	border-radius: 2px;
}
.basket-coupon-alert-section {
	margin-bottom:40px;
}
.basket-coupon-alert-section .btn {
	margin-left:10px;
	height: 34px;
	line-height: 34px;
	padding: 0 16px;
}

.form-basket {
	margin-top:30px;
}

.gradient-line {
	height:1px;
	position:relative;
	opacity:0.3;
	margin:50px 0 70px;
}
.gradient-line:before, .gradient-line:after {
	height:1px;
	width:50%;
	position:absolute;
	content:'';
	top:0;
}
.gradient-line:before {
	left:0;
	background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0.1)); 
	background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0.1)); 
	background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0.1)); 
}
.gradient-line:after {
	right:0;
	background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0.1)); 
	background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0.1)); 
	background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0.1)); 
}

/* FOOTER */
.scroll-top {
	position: fixed;
	z-index: 99;
	bottom: 30px;
	left: 30px;
	min-height: 30px;
	cursor:pointer;
	display:none;
}
@keyframes pulsate {
 0% {
  transform:scale(1,1)
 }
 25% {
  transform:scale(1.1,1.1)
 }
 50% {
  transform:scale(1,1)
 }
}
@keyframes pulsate-1 {
 0% {
  transform:scale(.8,.8);
  opacity:0
 }
 25% {
  opacity:.4
 }
 50% {
  transform:scale(1.3,1.3);
  opacity:0
 }
 100% {
  transform:scale(.8,.8);
  opacity:0
 }
}
.fixed-callback-btn {
	background: #199c68;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	transition: all 0.2s linear;
	bottom: 50px;
	right: 100px;
	cursor: pointer;
	position: fixed;
	z-index:9;
	/* animation:pulsate 2s ease-out;
	animation-iteration-count:infinite; */
}
.animated-circle {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0px;
	left: 0px;
	border-radius: 100%;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	border: 3px solid #199c68;
	/* animation: pulsate-1 2s ease-out;
	animation-iteration-count: infinite; */
	opacity: 0;
}
.fixed-callback-btn._active {
	background:#fff;
}
.callback__icon, .callback__icon-close {
	fill: white;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	transition: all 0.2s linear;
}
.callback__icon {
	top:5px;
}
.callback__icon-close, ._active .callback__icon {
	opacity: 0;
	visibility: hidden;
	transform: scale(.1);
}
._active .callback__icon-close {
	opacity: 1;
	visibility: visible;
	transform: rotate(0deg) scale(1);
}

.fixed-callback-form {
	bottom: 125px;
	right: 100px;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
	background: #fff;
	position: fixed;
	z-index: 1;
	max-width: 360px;
	overflow: hidden;
	padding:30px 35px;
	display:none;
}
.fixed-callback-form .input {
	height:50px;
}
.fixed-callback-form .btn {
	text-transform:uppercase;
}
.fixed-callback-title {
	font-size:22px;
	font-weight:600;
	margin-bottom:25px;
	text-transform:uppercase;
}

.form-popup, .popup {
	display:none;
}
.form-popup {
	max-width:560px;
	padding:0;
}
.form-popup .fancybox-close-small {
	color:#fff;
	padding:5px;
}
.form-popup-inner {
	padding:40px 45px;
}
.form-popup-title {
	font-size: 36px;
	line-height: 1.23;
	font-weight:600;
	margin-bottom:11px;
	text-transform:uppercase;
}
.form-popup-text {
	font-size:14px;
}
.form-popup form {
	margin-top:24px;
}
.form-text-policy {
	margin-top:20px;
	font-size:13px;
	color:#696969;
}
.form-text-policy a {
	color:#6b0504;
}

.form-moving {
	max-width:800px;
	border:12px solid #8a0a0a;
	padding:35px 30px 20px;
}
.form-moving .fancybox-close-small {
	color:#000;
}
.form-moving-title {
	color:#bd1725;
	font-size:24px;
	margin-bottom:15px;
}
.form-moving-description {
	font-size:18px;
}
.form-moving-description span {
	font-size:22px;
	color:#bd1725;
}
.form-moving input[type="text"], .form-moving textarea {
	max-width:230px;
	width:100%;
	border:1px solid #ddd;
	padding:6px 12px;
	margin-bottom:20px;
}
.form-moving input[type="text"] + input[type="text"] {
	margin-left:40px;
}
.form-moving textarea{
	max-width:504px;
	resize:none;
	margin-bottom:0px;
	height:90px;
	vertical-align:bottom;
}
.form-moving input[type="submit"] {
	margin-top:20px;
	font-weight:bold;
	color:#fff;
	background:#8a0a0a;
	border:0;
	border-radius:10px;
	vertical-align:bottom;
	padding:10px 20px;
	font-size:18px;
	margin-left:40px;
	cursor:pointer;
	transition:background-color 0.2s ease-in-out;
}
.form-moving input[type="submit"]:hover {
	background:#6b0504;
}
.form-moving-ok {
	margin-top:20px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.label-policy {
	margin-top:15px;
	display:block;
}


.footer {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #bd1725;
	color:#fff;
	margin-top:60px;
	border-top:4px solid #f16a21;
}
.logo-footer {
	max-width:180px;
	display:block;
}
.footer-socials {
	margin-top:30px;
}
.footer-socials a {
	margin-right:5px;
}
.footer-copyright {
	margin-top:21px;
	font-size:14px;
}
.footer-menu-title {
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:20px;
	margin-bottom:14px;
	font-weight:600;
}
.footer-menu a {
	font-size:14px;
	margin-bottom:10px;
	text-transform:uppercase;
	color:inherit;
	display:block;
}

@media (max-width: 1199px) {
	.container, .container-fluid, [class*="col-"] {
		padding-right: 10px;
		padding-left: 10px;
	}
	.row:not(.no-gutters) {
		margin-right: -10px;
		margin-left: -10px;
	}
	.t-title {
		font-size:44px;
	}
	.section-bottom .section-title {
    font-size: 22px;
    margin-bottom: 20px;
	}
	.section-bottom .line {
		top:0;
	}
}

@media (max-width: 991px) {
	.nav-top li a {
		padding:0 9px;
		font-size:15px;
	}
	.top-address {
		padding-left: 25px;
    font-size: 14px;
	}
	.head .phone {
		font-size:22px;
	}
	.nav-main > li > a {
		font-size:14px;
		padding:0 8px;
	}
}

@media (max-width: 767px) {
	.container, .container-fluid, [class*="col-"] {
		padding-right: 15px;
		padding-left: 15px;
	}
	.row:not(.no-gutters) {
		margin-right: -15px;
		margin-left: -15px;
	}
	h1, .h1 {
		font-size:30px;
	}
	.btn-big {
		padding:0 30px;
	}
	.top-line, .head, .nav-holder {
		display:none;
	}
	.t-title {
		font-size:30px;
	}
	.breadcrumbs {
		margin-bottom:0;
	}
	.main-slider .slick-arrow {
		width:15px;
		top:calc(50% - 13px);
	}
	.main-slider .arrow-left {
		left:15px;
	}
	.main-slider .arrow-right {
		right:15px;
	}
	
	.header-basket {
		right: 10px;
		width: 60px;
		height: 60px;
	}
	.header-basket svg {
		width: 34px;
		height: 34px;
		margin-top:12px;
	}
	.header-basket .basket-count {
		width: 24px;
		height: 24px;
		right: -6px;
		bottom: -6px;
		line-height: 24px;
		font-size:14px;
	}
	
	.product-list-text {
		font-size:20px;
		margin-bottom:25px;
	}
	.section-products {
		padding-top:40px;
		padding-bottom:20px;
	}
	.section-how {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section-how .section-title {
		margin-bottom:40px;
	}
	.how-item {
		margin-bottom:40px;
	}
	.how-item:last-child {
		margin-bottom:0px;
	}
	.how-item-dots {
		display:none;
	}
	.section-benefits {
		padding-top:50px;
		padding-bottom:30px;
	}
	.section-benefits .section-text {
		font-size:20px;
		margin-bottom:40px;
	}
	.benefit-item {
		margin-bottom:30px;
	}
	.benefit-item-name {
		font-size:16px;
		margin-bottom:6px;
	}
	.section-bottom {
		padding-top:0;
		padding-bottom:0;
	}
	.section-bottom .section-text {
		padding-right:0;
	}
	.section-bottom .line {
		display:none;
	}
	
	.serts-slider{
		padding:0 15px;
	}
	.serts-slider .slick-arrow {
		width:15px;
		top:calc(50% - 13px);
	}
	
	.product-item {
		margin-bottom:50px;
	}
	
	.basket-table td {
		padding:15px 10px;
	}
	.b-product-img {
		max-width:100px;
	}
	
	.scroll-top {
		display:none !important;
	}
	.fixed-callback-btn {
		bottom: 10px;
		right: 10px;
	}
	.fixed-callback-form {
		bottom: 90px;
		right: 10px;
		padding:25px;
	}
	

	.form-popup-inner {
		padding:20px;
	}
	.form-popup-title {
		font-size: 28px;
	}
	.form-popup form {
		margin-top:14px;
	}
	.form-popup .input {
		margin-bottom:20px;
		height:50px;
	}
	
	.footer {
		margin-top:40px;
		padding-top:50px;
		padding-bottom:40px;
	}
	.footer-col {
		margin-bottom:30px;
	}
	
}

@media (max-width: 575px) {
	h1, .h1 {
		margin-bottom:30px;
	}
	.t-cover {
		height:300px;
		background-attachment:scroll;
	}
	.main-slider .slick-slide {
		height:480px;
	}
	.slide-text {
		padding:30px 30px;
	}
	.slide-text .t-title {
		font-size:24px;
		margin-bottom:22px;
	}
	.t-title-cat {
		margin-bottom:25px;
	}
	.category-item {
		margin:10px 0;
		height:220px;
	}
	.category-item-title {
		left:20px;
		bottom:20%;
	}
	.catalog-order-note {
		font-size:20px;
		margin-bottom:40px;
	}
	.catalog-text-top {
		font-size:20px;
		margin-bottom:30px;
	}
	.product-item-name {
		height:70px;
	}
	.product-item .btn {
		width:100%;
	}
	.basket-table td {
		display:block;
		padding:10px 0;
	}
	.basket-table tr + tr {
		border-top:1px solid rgba(0,0,0,.2);
	}
	.b-product-minus, .b-product-plus, .b-product-remove {
		width:25px;
		height:25px;
	}
	.b-product-quantity, .b-product-cost, .b-td-remove {
		width:33.333%;
		float: left;
    text-align: center;
	}
	
	.fixed-callback-form {
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:100%;
		height:100%;
		overflow-y:auto;
		z-index:101;
		border-radius:0;
		max-width:none;
	}
	.fixed-callback-btn {
		z-index:102;
	}
	.form-moving {
		padding:15px;
		border-width:6px;
	}
	.form-moving-title {
		font-size:20px;
	}
	.form-moving-description {
		font-size:16px;
	}
	.form-moving input[type="text"], .form-moving textarea {
		max-width:none;
		margin-bottom:15px;
		margin-left:0 !important;
	}
	.form-moving input[type="submit"] {
		margin:0;
	}
}